
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    padding-top: 6px;
    z-index: 1000;
    position: fixed;
    left: 0;
    border-bottom: 1px solid #ddd;
    padding: 0 16px;


}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    cursor: pointer;
}
.search{
    width: 45%;
    position: relative;
}
.search:focus-within .search-btn {
    right: 30px; 
}
.search input{
    width: 100%;
    padding: 11px;
    border-radius: 25px;
    border: 1px rgba(161, 161, 161, 0.733) solid;
    
}
.search-btn {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.search-btn:focus,
.search-btn:active {
    outline: none;
    box-shadow: none;
}


.search-btn img {
    width: 18px;
    height: 18px;

}
.search input:focus{
    border: 1px solid rgba(34, 105, 187, 0.938);
    outline: none;
}
.info img{
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 27px;
    width: 32px;
}
.logo img{
    width: 80px;
    border-radius: 50%;
}
.menu{
    width: 50px;
}
