.bottomFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    padding: 0 35px;
    width: 100%;
}
.bottomBar-item img{
    width: 30px;
}
.bottomBar-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: 0;
   flex-shrink: 1;
   cursor: pointer;
   width: fit-content;
}
.clicked{
    background-color: rgba(202, 201, 201, 0.322);
}